* {
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
/* background-color: bisque;*/
#container {
  display: block;
  width: 400px;
  margin: 10px auto 100px;
  background-color: #fff;
  padding: 0px 10px 10px 10px;
  border-radius: 20px;
}
h1 {
  text-align: center;
  padding-top: 10px;
  font-family: cursive;
}
h3 {
  text-align: center;
}
todoitems {
  display: block;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}
button {
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
